* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #13162b;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #212437;
    border: 2px solid #0082f6;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    position: relative;
    padding: 100px;
}

button {
    border: none;
    outline: none;
}

.increase,
.decrease {
    position: absolute;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #0082f6;
}

.increase {
    right: -11%;
}

.decrease {
    left: -11%;
}

.reset{
    font-size: 25px;
    margin-top: 30px;
}